/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Set the width of body to be 100% of the viewport */
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f3f4;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* Search form styling */
.search-form {
    flex-grow: 1;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

/* Login form styling */
.login-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Common input styles */
input[type="text"],
input[type="password"],
input[type="submit"],
button {
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
}

input[type="text"],
input[type="password"] {
    flex-grow: 1;
}

input[type="submit"],
button {
    background-color: #e94560;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #a43552;
}

/* Filters bar styling */
#filters {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #16213e;
    color: #fff;
    overflow-y: auto;
    z-index: 5;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    gap: 40px;
}

#filters form {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;  
}

/* Main content area styling */
main {
    padding-top: 60px; /* Offset for fixed header */
    margin-left: 300px; /* Offset for filters bar */
    padding: 20px;
    margin-top: 70px; 
}

main ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-height: calc(100vh - 70px);     
    overflow-y: auto;
}

main li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main li h3 {
    color: #e94560;
    margin-top: 0;
}

main li p {
    color: #333;
}

/* Error message styling */
.error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D8000C;
    margin: 10px 0;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
    /* Responsive adjustments if needed */
    header,
    #filters,
    main {
        padding: 10px;
    }

    header {
        flex-direction: column;
        /* Ensure that the header doesn't cover the content */
        height: auto;
    }

    #filters {  
        /* Full width for mobile view */
        width: 100%;
        height: auto;
        position: static;
        top: auto;
        gap: 30px;
    }

    main {
        /* Remove margin-left for mobile view */
        margin-left: 0;
        margin-top: 20px; /* Provide space below the header */
    }
}
